@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../Imagens/Fundo.png');
  background-size: cover;  /* cobre toda a tela */
  background-position: center;
  background-repeat:repeat-x/
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}
.contagem {
    display: flex;
    justify-content: center;
}
.contagem p {
    margin: 10px;
}
.cokie {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
.cokie img {
  width: 200px;
  height: 200px;
  
}

.barraDivisoria img {
    width: 100%;
    padding-top: 0px;
    box-shadow: 0px 0px 10px 5px;
}
#lojaNome {
    display: flex;
    justify-content: center;
}
.loja {
  display: grid;
  place-items: center;
}

.loja  .itens {
    display: flex;
    padding: 5px;
}
.loja .itens div {
    width: 429.37px;
    height: 100.2px;
    padding: 5px;
}
.loja .itens div p {
    margin-top: 0px;
}
.loja .itens div p, button {
    margin-bottom: 0px;
    margin-left: 150px;
}
.loja .itens div button {
    width: 100px;
    
    margin-left: 20px;
    margin-right: 65px;
}

.loja .itens .item-clicker {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes/Cursor.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
}

.loja .itens .item-vovo {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes//Vovó.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
}

.loja .itens .item-fabrica {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes/Fábrica.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
}
.loja .itens .item-fabrica {
    width: 422.37px;
    height: 100.2px;
    padding: 5px;
}

.loja  .itens-2 {
    display: flex;
    padding: 5px;
}
.loja .itens-2 div {
    padding: 5px;
}
.loja .itens-2 div p {
    margin-top: 0px;
}
.loja .itens-2 div p, button {
    margin-bottom: 0px;
    margin-left: 150px;
}
.loja .itens-2 div button {
    width: 100px;
    
    margin-left: 20px;
    margin-right: 85px;
}

.loja .itens-2 .item-magico {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes/Torre\ de\ Bruxos.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
}

.loja .itens-2 .item-laboratorio {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes/Laborátorio\ de\ Alquimia.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
}

.loja .itens-2 .item-gerador {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes/Condensador\ de\ Antimáteria.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
}

.loja .itens-2 .item-gerador {
    width: 422.37px;
    height: 100.2px;
    padding: 5px;
    padding-right: 0px;
}

.loja .itens-2 .item-laboratorio {
    width: 429.37px;
    height: 100.2px;
    padding: 5px;
    
}
.loja .itens-2 .item-magico {
    width: 426px;
}
.loja .itens .item-fabrica {
    padding-right: 0px;
}

.loja  .itens-3 {
    display: flex;
    padding: 5px;
}
.loja .itens-3 div {
    width: 429.37px;
    height: 100.2px;
    padding: 5px;
}
.loja .itens-3 div p {
    margin-top: 0px;
}
.loja .itens-3 div p, button {
    margin-bottom: 0px;
    margin-left: 150px;
}
.loja .itens-3 div button {
    width: 100px;
    
    margin-left: 20px;
    margin-right: 65px;
}

.loja .itens-3 .item-nave {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes/Máquina\ do\ Tempo.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
}

.loja .itens-3 .item-estacao {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes/Templo.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
}

.loja .itens-3 .item-buraco-negro {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes/OcioVerso.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
}

.loja .itens-3 .item-nave {
    width: 414.37px;
    height: 100.2px;
    padding: 5px;
    padding-right: 19px;
}

.loja .itens-3 .item-estacao {
    width: 422.37px;
    height: 100.2px;
    padding: 5px;
    padding-right: 10px;
}

.loja .itens-3 .item-buraco-negro {
    width: 422.37px;
    height: 100.2px;
    padding: 5px;
    padding-right: 0px;
}

.loja  .itens-4 {
    display: flex;
    padding: 5px;
}
.loja .itens-4 div {
    width: 429.37px;
    height: 100.2px;
    padding: 5px;
}
.loja .itens-4 div p {
    margin-top: 0px;
}
.loja .itens-4 div p, button {
    margin-bottom: 0px;
    margin-left: 150px;
}
.loja .itens-4 div button {
    width: 100px;
    
    margin-left: 20px;
    margin-right: 65px;
}

.loja .itens-4 .item-universo-paralelo {
    display: flex;
    align-items: center;
    background-image: url('../Imagens/botoes/Prisma.png');
    background-size: 429.37px 110.2px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px;
    padding-right: 0px;
}